
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(158,158,158,.2);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;;
}



nav ul{
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 23px;
    font-weight: bolder;
    text-transform: uppercase;
}

nav ul li:hover {
    color: orange;
}

